<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Article</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
	{{#each model as |article|}}
		<tr>
			<td>
				{{#link-to "article.show" article}}
					{{article.title}} by <em>{{article.author.name}}</em>
				{{/link-to}}
			</td>
			<td id="action-column">
				{{#link-to "article.edit" article}}
				  Edit
				{{/link-to}}
			</td>
		</tr>
	{{/each}}
	</tbody>
</table>
